#vim to nvim
alias vim='nvim'
alias nv='nvim'


#ls alias
alias ll='ls --color=tty -l'

alias recursiveextact='find . -name "*.zip" | while read filename; do unzip -o -d "`dirname "$filename"`" "$filename"; done;'


# wallpaper
alias wallpaper='/home/nick/wallpaper/wallpaper.py 1>/dev/null 2>&1 &'

#php executable
# alias composer='php7 /home/nick/composer.phar'

# docker aliases
alias dcrun='docker compose run'
alias dc='docker compose'
# alias composer='docker compose run -w=/var/www/html/$BRANCH composer'
alias composer='docker exec -w /app/$PROJECT/$BRANCH php82 composer'
# alias artisan='docker compose run -w=/var/www/html/$BRANCH artisan'
alias artisan='docker exec -w /app/$PROJECT/$BRANCH php82 php artisan'
alias phpunit='docker compose run -w=/var/www/html/$BRANCH phpunit'
alias up='docker compose up'
alias down='docker compose down'

alias docker-rm='docker rm $(docker ps -aq --filter "status=exited")'


alias scomposer='docker compose run -w=/var/www/html/$BRANCH/web composer'
alias sartisan='docker compose run -w=/var/www/html/$BRANCH/web artisan'
alias sphpunit='docker compose run -w=/var/www/html/$BRANCH/web phpunit'

# alias php='/opt/lampp/bin/php'
# alias composer='/opt/lampp/bin/php /usr/local/bin/composer'

# alias php='/usr/bin/php7.2'

alias gto='. git_worktree'

alias python='python3'
