/* colors */

/*
* {
  al:    #00000000;
  bg:    #040404FF;
  ac:    #983446FF;
  se:    #98344626;
  fg:    #e2cfbcFF;
}
*/

* {
  al:    #00000000;
  bg:    #282828;
  ac:    #fa504f;
  se:    #3B3A3A;
  fg:    #e2cfbcFF;
}
